.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-size: 1.5em;
    z-index: 1;
  }
  